<!DOCTYPE html>
<html>
<title>Diabetes prediction for pregnant women</title>
<head> 
<style type="text/css">
h1 
{
    text-align: center;
}
 body
    {
        background-image: url('/static/img/image3.jpg');
        background-size: 2560px 1600px;
    }

form {
        margin: auto;
        width: 35%;
     }
     .result {
            margin: auto;
            width: 35%;
            border: 2px solid #808080;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<h1>Diabetes diagnosis system</h1>
<body>
<form action="{{ url_for('main') }}" method="POST">
        <fieldset>
            <legend>Input values</legend>
            Pregnancies:
            <input name="Pregnancies" type="number" placeholder="(number of pregnancies)" required><br>
            Glucose:
            <input name="Glucose" type="number" placeholder="(glucose level)" required><br>
            BloodPressure:
            <input name="BloodPressure" type="number" placeholder="(level of BP)" required><br>
            SkinThickness:
            <input name="SkinThickness" type="number" placeholder="(thickness)" required><br>
            Insulin:
            <input name="Insulin" type="number" placeholder="(level of insulin)" required><br>
            BMI:
            <input name="BMI" type="number" placeholder="(number of BMI)" step="0.1" required><br>
            DiabetesPedigreeFunction:
            <input name="DiabetesPedigreeFunction" type="number" placeholder="(number of DPF)" step="0.001" required><br>
            Age:
            <input name="Age" type="number" placeholder="(age in years)" required><br>
           
            <br>
            <input type="submit" name="" id="">
        </fieldset>
<br><br></form>
    <div class='result' >
        <br>Diabetes prediction : <br>
        <p style="font-size: 30px">{{ result }}</p>
         <br> <br>
         Possibility factor: 
        <p style="font-size: 30px">{{ possibility_factor }}</p>
          
          
    </div> 
    
</body>
</html>
